{%set url = '/uploads/'%}
<input class="countCovid"  type="hidden" value=" {{TdocumentCovid |length }} ">

{% if TdocumentCovid |length > 0 %}
    <table id="table"  class="table_home table-bordered   table_doc_covid ">
        <thead class="bg-light" >
            <tr class="tr_table">
                <th > Num </th> 
                <th > File </th> 
                <th > Supprimer </th>
            </tr> 
        </thead>
        <tbody class="TbodyDocumentCovid">
            {% for Tdc in TdocumentCovid %}
                <tr>
                    <td class="">{{Tdc.id}}</td>
                    <td class="">
                        <a href={{ url ~ Tdc.file | url_encode   }} download="{{ Tdc.file  | split('+', 2)[1] }}"> 
                            <button type="button" class="dropdown-item Telecharger"> {{ Tdc.file  | split('+', 2)[1] }}</button>
                        </a>
                    </td>
                    <td classe="td_width"> 
                        <form  name="Tdoc-supprime" class="Tdoc-supprime" method="post" action="{{ path('document_supprimer', {'id': Tdc.id }) }}" >
                            <input type="hidden" name="_token" value="{{ csrf_token('supprimer_'~ Tdc.id) }}">
                            <button type="submit" class="supprimer_file" name="sup" style="border:none; background-color:transparent; outline:none;">
                                <input class="type-doc"  type="hidden" value="COVID">
                                <i class="fa fa-trash-o" style="color:red;font-size:14px"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %} 